{{ form_start(form) }}
<div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
{{ form_row(form.login) }}
{{ form_row(form.nom) }}
{{ form_row(form.prenom) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}
{{ form_row(form.telephone) }}
{{ form_row(form.email) }}
{{ form_row(form.mdpServeur) }}


    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
